@model List<BudgetTrackerWeb.Models.Earning>
<h2>Earnings</h2>
<div>
  <table class="table table-striped table-bordered text-center">
    <thead class="table-dark">
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var earning in Model)
      {
        <tr>
          <td>@earning.Date.ToShortDateString()</td>
          <td>@earning.Category</td>
          <td>@earning.Description</td>
          <td>@earning.Amount.ToString("C")</td>
          <td>
            <form asp-action="Delete" asp-route-id="@earning.Id" method="post" style="display:inline">
              <button type="submit" class="btn btn-sm btn-danger"
                onclick="return confirm('Are you sure you want to delete this expense?');">
            Delete
              </button>
            </form>
          </td>
        </tr>
       }
       <tr>
        <td>Total Amount</td>
        <td></td>
        <td></td>
        <td>@ViewBag.TotalAmount.ToString("C")</td>
       </tr>
    </tbody>
  </table>
</div>
<a href="/Earnings/Create">Add Earning</a>